@using ITValetFrontEnd.HelperClasses
@{
    ViewData["Title"] = "UserRegister";
    Layout = "~/Views/Shared/_UserSideLayout.cshtml";
}

<div class="reqService">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 my-auto videonone">
                <center><lottie-player class="video-tablet" src="https://assets4.lottiefiles.com/packages/lf20_zw0djhar.json" background="transparent" speed="1" style="width: 500px; height: 500px;" loop autoplay></lottie-player></center>
            </div>
            
            <div class="col-lg-6 mx-auto pt-5 mb-5">
                <div class="box shadow-sm p-4">
                <div class="osahan-login py-4">
                    <div class="text-center mb-4">
                        <p style="font-size: 15px;font-weight: bold;">Register as @ViewBag.UserType </p>
                    </div>

                    <form action="@Url.Action("PostRegister","Auth")" method="post">
                        <input type="hidden" name="SignUpOption" value="@ViewBag.UserType"/>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group">
                                    <label class="mb-1">First name<span class="text-danger">*</span></label>
                                    <div class="position-relative ">
                                        <input type="text" name="FirstName" class="form-control" placeholder="" required>
                                    </div>
                                    <span name="FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label class="mb-1">Last name<span class="text-danger">*</span></label>
                                    <div class="position-relative">
                                        <input type="text" name="LastName" placeholder="" class="form-control" required>
                                    </div>
                                    <span name="LastName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="mb-1">Username<span class="text-danger">*</span></label>
                            <div class="position-relative icon-form-control">
                                <i class="mdi mdi-account-outline position-absolute"></i>
                                <input type="text" name="UserName" class="form-control" id="username" placeholder="" value="" required onkeyup="validateUsername(this.value)">
                            </div>
                            <span name="UserName" id="nameErrMsg" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="mb-1">Email<span class="text-danger">*</span></label>
                            <div class="position-relative icon-form-control">
                                <i class="mdi mdi-email-outline position-absolute"></i>
                                <input type="email" id="emailAddress" name="Email" class="form-control" required onchange="validateEmail(this.value)">
                            </div>
                            <span name="Email" id="emailErrMsg" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="mb-1">Password<span class="text-danger">*</span></label>
                            <div class="position-relative icon-form-control">
                                <i class="mdi mdi-key-variant position-absolute"></i>
                                <input type="password" name="Password" id="password" class="form-control" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="mb-1">Confirm Password<span class="text-danger">*</span></label>
                            <div class="position-relative icon-form-control">
                                <i class="mdi mdi-key-variant position-absolute"></i>
                                <input type="password" name="_confirmPassword" id="confirmPw" onkeyup="matchPassword(this.value)" class="form-control" required>
                            </div>
                            <span name="_confirmPassword" id="pwErrMsg" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="mb-1">Enter State<span class="text-danger">*</span></label>
                            <div class="position-relative">
                                <input type="text" name="State" class="form-control" placeholder="Please Enter a valid State Name" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="mb-1">Enter City<span class="text-danger">*</span></label>
                            <div class="position-relative">
                                <input type="text" name="City" class="form-control" placeholder="Please Enter a valid City Name" required />
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="mb-1">Postal Code/Zip Code<span class="text-danger">*</span></label>
                            <div class="position-relative">
                                <input type="text" name="ZipCode" class="form-control" placeholder="Please Enter Your postal Code" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="mb-1"> Timezone <span class="text-danger">*</span> </label>
                            <div class="position-relative">
                                <select class="form-control" id="gmt" name="TimeZone" required>
                                    @*<option value="">Select Your Timezone</option>
                                    <option value="-3:30">St Johns (GMT -3:30)</option>
                                    <option value="-4:00">Halifax (GMT -4:00)</option>
                                    <option value="-5:00">Toronto (GMT -5:00)</option>
                                    <option value="-6:00">Winnipeg (GMT -6:00)</option>
                                    <option value="-7:00">Edmonton (GMT -7:00)</option>
                                    <option value="-8:00">Vancouver (GMT -8:00)</option>*@
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="mb-1">Select Country<span class="text-danger">*</span></label>
                            <div class="position-relative">
                                <select name="Country" class="form-control countrypicker" data-live-search="true" data-default="United States" data-flag="true" required></select>
                            </div>
                            <span name="Country" class="text-danger"></span>
                        </div>

                        @{
                            var setValue = "";
                            var setText = "";
                            var setType = "";
                            if (ViewBag.UserType == "Customer")
                            {
                                setType = "ITValet";
                                setText = "Tech Valet";
                            }
                            else
                            {
                                setType = "Customer";
                                setText = "Customer";
                            }
                            if (!string.IsNullOrEmpty(ViewBag.LoginUserRole))
                            {
                                if (ViewBag.LoginUserRole == "Customer")
                                {
                                    setValue = "ITValet";
                                    setText = "Tech Valet";
                                }
                                else
                                {
                                    setValue = "Customer";
                                    setText = "Customer";
                                }
                                <a href="@Url.Action("Register", "Auth", new {value = setValue})" class="btn btn-success btn-block text-uppercase" type="button">  Register as @setText </a>
                            }
                            else
                            {
                                <button id="RegisterForm" class="btn btn-success btn-block text-uppercase" type="submit">  Join as @ViewBag.UserType </button>
                                <a href="@Url.Action("Register", "Auth", new {value = setType})" class="btn btn-success btn-block text-uppercase" type="button">  Register as @setText </a>
                            }
                        }

                        @* @if (ViewBag.UserType == "ITValet")
                        {
                            @if (ViewBag.LoginUserRole == "Customer")
                            {
                                <a href="@Url.Action("Register", "Auth", new {value = "ITValet"})" class="btn btn-success btn-block text-uppercase" type="button">  Register as Tech Valet </a>
                            }
                            else
                            {
                                <button id="RegisterForm" class="btn btn-success btn-block text-uppercase" type="submit">  Join as @ViewBag.UserType </button>
                                <a href="@Url.Action("Register", "Auth", new {value = "ITValet"})" class="btn btn-success btn-block text-uppercase" type="button">  Register as Tech Valet </a>
                            }

                        }
                        else if (ViewBag.UserType == "Customer")
                        {
                            @if (ViewBag.LoginUserRole == "Valet")
                            {
                                <a href="@Url.Action("Register", "Auth", new {value = "Customer"})" class="btn btn-success btn-block text-uppercase" type="button">  Register as Customer </a>
                            }
                            else
                            {
                                <button id="RegisterForm" class="btn btn-success btn-block text-uppercase" type="submit">  Join as @ViewBag.UserType </button>
                                <a href="@Url.Action("Register", "Auth", new {value = "Customer"})" class="btn btn-success btn-block text-uppercase" type="button">  Register as Customer </a>
                            }
                        } *@
                        <div class="py-3 d-flex align-item-center">
                            <span class="mr-0"> Already on Tech Valet? <a href="@Url.Action("UserLogin","Auth")">Sign in</a></span>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section CustomJs
    {
    <script src="httXps://unpkg.com/@@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script>
        var token = Token;
        GetGmtTimRegion();
        function GetGmtTimRegion() {
            $("#gmt").empty().append();
            $.ajax({
                type: "GET",
                headers: {
                    'AccessToken': token
                },
                url: '@ProjectVariables.BaseUrl' + 'Admin/GetTimeZones',
                data: {},
                cache: false,
                success: function (response) {
                    var appendOptions = '';
                    $.each(response, function (key, value) {
                        appendOptions += '<option value=' + key + '>' + value + '</option>';
                    })
                    $("#gmt").append(appendOptions);
                },
                error: function () {
                },
                complete: function () {
                }
            });
        }
    </script>
}
