@{
    ViewData["Title"] = "UserForgotPassword";
    Layout = "~/Views/Shared/_UserSideLayout.cshtml";
}


<div class="bg-white">
    <div class="container">

        <div class="row justify-content-center align-items-center d-flex vh-100">
            <div class="col-lg-4 mx-auto">
                <div class="osahan-login py-4">
                    <div class="text-center mb-4">

                        <a href="@Url.Action("Index","Home")"><img src="~/images/butlerlogo.png" alt=""></a>
                        <h5 class="font-weight-bold mt-3">Recover Your Account Password</h5>
                        <p class="text-muted">Please enter your password</p>
                    </div>
                    <form method="post" asp-controller="Auth" asp-action="PostRenewPassword" id="myForm" onsubmit="submitForm(event)">
                        <div class="form-group">
                            <input name="Id" hidden value="@ViewBag.Id" class="form-control">
                            <input name="t" hidden value="@ViewBag.t" class="form-control">

                            <label class="mb-1">New Password</label>

                            <div class="position-relative icon-form-control">
                                <i class="mdi mdi-key-variant position-absolute"></i>
                                <input id="password" type="password" name="Password" onkeyup="matchPassword2(this.value)" class="form-control" required>

                            </div>
                            <label class="mb-1">Confirm Password</label>

                            <div class="position-relative icon-form-control">
                                <i class="mdi mdi-key-variant position-absolute"></i>
                                <input id="cpassword" type="password" name="CPassword" onkeyup="matchPassword(this.value)" class="form-control" required>
                                <span id="errMsg" class="text-danger" style="display:none;">Password &amp; Confirm Password did not match</span>
                            </div>
                            @*<span style="color:@ViewBag.Color;">@ViewBag.Message</span>*@
                        </div>
                        <button class="btn btn-success btn-block text-uppercase" id="subBtn" type="submit"> Change </button>
                        <div class="py-3 d-flex align-item-center">
                            <a href="@Url.Action("UserLogin","Auth")">Sign In</a>
                            <span class="ml-auto"> New to IT Valet? <a href="@Url.Action("Register","Auth", new{ value="Customer"})">Join now</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section CustomJs {

    <script>
        function submitForm(event) {
            debugger;
            event.preventDefault(); // Prevent the default form submission

            var form = document.getElementById("myForm");
            var submitButton = document.getElementById("subBtn");

            submitButton.disabled = true;

            // Reset the form and enable the button after submission is complete
            form.submit();
            form.reset();
            submitButton.disabled = false;
        }
    </script>

    <script>

        function matchPassword(confirmPw) 
        {
            var newPw = $('#password').val();
            if (newPw != confirmPw) 
            {
                $('#errMsg').attr("style", "display:block");
                $('#subBtn').attr("disabled", true);
            }
            else 
            {
                $('#errMsg').hide();
                $('#subBtn').attr("disabled", false);
            }
        }
        function matchPassword2(confirmPw) {
            var newPw = $('#cpassword').val();
            if (newPw !=""){
                if (newPw != confirmPw) {
                    $('#errMsg').attr("style", "display:block");
                    $('#subBtn').attr("disabled", true);
                }
                else {
                    $('#errMsg').hide();
                    $('#subBtn').attr("disabled", false);
                }
            }

        }
    </script>
}
