
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Tech Valet | All Services at one place</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Tech Valet, All Services at one place" />
        <meta name="keywords" content="Startup, Business, Tech Servcies, Modern, Creative" />
        <!-- favicon -->
        <link href="images/favicon.ico" rel="shortcut icon">
        <!-- Bootstrap and other css -->
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="css/swiper.min.css" rel="stylesheet" type="text/css" />
        <link href="css/tobii.min.css" rel="stylesheet" type="text/css" />
        <link href="css/tiny-slider.css" rel="stylesheet" type="text/css" />
        <link href="css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
        <link href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" rel="stylesheet">
        <!-- Main Css -->
        <link href="css/style.min.css" rel="stylesheet" type="text/css" id="theme-opt" />
        <link href="~/myriad-pro-cufonfonts-webfont/style.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    </head>
    
    <body>

    <nav class="navbar sticky-top navbar-expand-lg bg-dark">
        <div class="container">
            <a class="logo" href="../">
                <span class="logo-light-mode">
                    <img src="images/tech-valet-logo.svg" class="l-dark" alt="" width="173px;">
                    <img src="images/tech-valet-logo.svg" class="l-light" alt="" width="135px;">
                </span>
                <img src="frontAssets/images/tech-valet-logo.svg" alt="" style="width: 60px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto w-100 justify-content-center">
                    <li class="nav-item active">
                        <a href="@Url.Action("Index","Home")" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a href="@Url.Action("About","Home")" class="nav-link">About Us</a>
                    </li>

                    <li class="nav-item active"><a href="@Url.Action("Contact","Home")" class="nav-link">Contact us</a></li>
                </ul>
                <div class="nav-item active">
                    <a href="@Url.Action("UserLogin","Auth")" class="nav-link">Login/Signup</a>
                </div>
            </div>
        </div>
    </nav>
        <!-- Navbar STart -->
       @*  <header id="topnav" class="defaultscroll sticky"> *@

            @* <div class="container">
                <a class="logo" href="../">
                    <span class="logo-light-mode">
                    <img src="images/tech-valet-logo.svg" class="l-dark" alt="" width="173px;">
                    <img src="images/tech-valet-logo.svg" class="l-light" alt="" width="135px;">
                    </span>
                <img src="frontAssets/images/tech-valet-logo.svg" alt="" style="width: 60px;">
                </a>
                <div class="menu-extras">
                    <div class="menu-item">
                        <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                    </div>
                </div>


                <div id="navigation">
                    <ul class="navigation-menu nav-light">
                        <li class="has-submenu parent-parent-menu-item">
                            <a href="@Url.Action("Index","Home")">Home</a><span class="menu-arrow"></span>
                        </li>
                        <li class="has-submenu parent-parent-menu-item">
                            <a href="@Url.Action("About","Home")">About Us</a><span class="menu-arrow"></span>
                        </li>

                        <li><a href="@Url.Action("Contact","Home")" class="sub-menu-item">Contact us</a></li>
                    </ul>
                <div class="has-submenu parent-parent-menu-item">
                   <a href="@Url.Action("UserLogin","Auth")" class="sub-menu-item">Login/Signup</a>
                </div>
                </div>
            
            </div> *@
@* </header>  *@  

<style type="text/css">
        .btn-success {
            background: #2cdd9b !important;
            background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%) !important;
            background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc)) !important;
            background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%) !important;
            background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%) !important;
            background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%) !important;
            border-color: #2cdd9b !important;
        }
      #topnav a{
           color: #9b9b9b !important;
       }
       .nav-link{
           color: #fff
       }
        #topnav #navigation a:hover {
            color: #fcd609 !important;
        }
        .header-section {
            background-image: url('images/bg/backgroudn-image.jpg');
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            position: relative;
        }

        

        .navbar .nav-item {
            padding: 10px 9px;
        }

        .navbar .nav-link {
            font-size: 15px;
            margin-left: 10px;
        }

        .fa-bars {
            color: #fff;
            font-size: 30px;
        }

        h1, p, div {
            font-family: "Myriad Pro Regular", Arial;
        }
        .logo-center {
            width: 500px;
            margin-top: 60px;
        }

        .rowsection{
            margin-bottom:50px;
            margin-top:60px
        }

        .atyourservice {
            background: #fcd609;
            width: 100%;
            padding: 25px 100px 25px 0px;
            text-align: end;
            color:#000
        }
        .atyourservice h3{
            display:inline-block;
            font-style:italic;
            font-weight:500
        }

        #topnav #navigation{
            display:flex !important;
            justify-content:space-around;
            align-items:center
        }
        .paragraphfont {
            font-size: 36px;
            width: 70%;
            line-height: 1.1;
        }
.btn-success:hover{
        background-color: transparent !important;
        border-color: #fff !important;
        border-style: solid !important;
        border-width: 1px !important;
    }

.shadow-sm {
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%) !important;
}

    .backgroundImage {
        background-image: url("images/bg/busi01.jpg");
        background-position: center center;
        /* Other background properties */
    }    
    .backgroundImage2 {
        background-image: url("images/bg/busi01.jpg");
        background-position: center center;
        /* Other background properties */
    }

        .howitworks{
            background:#9b9b9b;
            padding:25px;
            color:#fff;
            display:inline-block;
            margin-bottom:12px;
            font-size:35px
        }

        .cstmtext {
            padding: 50px;
            font-size: 30px;
            line-height:1.4
        }

        .steps-container {
            font-family: Arial, sans-serif;
            color: #333;
            margin: 20px;
        }

        .step {
            display: flex;
            align-items: flex-start;
        }

        .note {
            font-size: 36px;
            font-style: italic;
            position: relative;
            padding-left: 50px;
        }

        .cstmheading{
            font-size:50px !important;
            font-weight:bold;

        }
            .note::before {
                content: "*";
                position: absolute;
                left: 14px;
                top: 0px;
                font-size: 60px;
                line-height: 1;
            }
        .step-number {
            font-size: 70px;
            font-weight: bold;
            color: #fcd609; /* Yellow color */
            margin-right: 70px;
        }

        .step p {
            margin-top: 25px;
            font-size: 36px;
            line-height: 1;
        }

        .step a {
            font-weight: bold;
            text-decoration: none;
            color: #333;
        }

            .step a:hover {
                color: #f0c911; /* Yellow hover effect */
            }
</style>
<!-- btn Success Style Ends -->

        <!-- Hero Start -->
        @* <section class="swiper-slider-hero position-relative d-block" style="height:94vh !important;">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide d-flex align-items-center overflow-hidden">
                        <div class="slide-inner  slide-bg-image d-flex align-items-center" data-jarallax='{"speed": 0.4}' style="background: center center;" data-background="images/bg/busi01.jpg">
                        <div class="bg-overlay" style="background: linear-gradient(to bottom, rgb(22 28 45 / 85%) 0%, rgba(60,72,88,0.3) 25%, rgba(60,72,88,0.3) 35%, #2cdd9bad 100%);"></div>
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-12">
                                        <div class="title-heading text-center">
                                            <h1 class="fw-semibold display-3 text-white title-dark mb-4">Need Help</h1>
                                            <p class="para-desc mx-auto text-white" style="font-size:18px;">Tech Valet that help people with everything to turn their ideas into reality.</p>
                                            
                                            <div class="mt-4 pt-2">
                                            @*<a href="@Url.Action("Index","Home")" class="btn btn-success" style="border: solid #fff 1px;">Get Started</a>*@
                                          @*@  <a href="@Url.Action("Register","Auth",new{value= "Customer"})" class="btn btn-success" style="border: solid #fff 1px;">Get Started</a>

                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div  class="swiper-slide d-flex align-items-center overflow-hidden">
                        <div class="slide-inner slide-bg-image d-flex align-items-center" data-jarallax='{"speed": 0.4}' style="background: center center;" data-background="images/bg/busi02a.jpg">
                        <div class="bg-overlay" style="background: linear-gradient(to bottom, rgb(22 28 45 / 85%) 0%, rgba(60,72,88,0.3) 25%, rgba(60,72,88,0.3) 35%, #2cdd9bad 100%);"></div>
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-12">
                                        <div class="title-heading text-center">
                                            <h1 class="fw-semibold display-3 text-white title-dark mb-4">Provide Services</h1>
                                            <p class="para-desc mx-auto text-white" style="font-size:20px;">Earn More by Selling Your Services On Tech Valet.</p>
                                            
                                            <div class="mt-4 pt-2">
                                                 <a href="@Url.Action("Register","Auth",new{value= "ITValet"})" class="btn btn-success" style="border: solid #fff 1px;">Get Started</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    
                </div>
                <div hidden  class="swiper-button-next border rounded-circle text-center"></div>
                <div hidden  class="swiper-button-prev border rounded-circle text-center"></div>
            </div>
        </section> *@
    <div class="header-section">
        <div class="header-overlay">
            <img src="~/Images/bg/Logo-Above-BG.png" alt="TechValet Logo" class="logo-center">
        </div>
    </div>

    @* <section class="content-section">
        <div class="content-container">
            <div class="content-box">
                <h2>WHO WE ARE.</h2>
                <p>We are a community of people who have IT know-how— with computers, smartphones, and other devices—and we’re here to help.</p>
            </div>
            <div class="content-box">
                <h2>WHAT WE DO.</h2>
                <p>We connect you with people who are IT savvy, so they can help you solve your tech headaches, quickly, at an affordable price, and at a time that’s convenient for you.</p>
            </div>
        </div>
    </section> *@

    @* <section class="how-it-works-section">
        <h2>HOW DOES IT WORK?</h2>
        <p>We know that lots of smart people can’t keep up with the technology learning curve, so we formed a community of tech-savvy people who can help solve a variety of problems the moment you need them. From getting your new printer to print to how to manage a Zoom video call with ease, we’re here for you!</p>
    </section> *@
 
        <div class="atyourservice">
            <h3> At Your Service_______</h3>
        </div>
        <div class="row">
              <div class="container">
            <div class="row rowsection">
                    <div class="col-md-6" style=" border-right:1px solid #000;height:auto">
                        <h1 class="text-center fw-semibold cstmheading">Who We Are</h1>
                        <div class="d-flex flex-column justify-content-center align-items-center">
                        <img src="~/FrontAssets/images/Logo Web Black svg.svg" class="w-25 mb-5" />
                        <p class="paragraphfont">We are a community of people who have IT know how____ with computer, Smartphones and other devices. We are here to help you</p>
                        </div>
                        

                    </div>
                <div class="col-md-6">
            <h1 class="text-center fw-semibold cstmheading">What we Do</h1>
            <div class="d-flex flex-column justify-content-center align-items-center">
                <img src="~/FrontAssets/images/Logo Web Black svg.svg" class="w-25 mb-5" />
                <p class="paragraphfont">
                    We connect you with people
                    who are IT savvy, so they can
                    help you solve your tech headaches,
                    quickly, at an affordable price, and
                    at a time that’s convenient for you
                </p>

            </div>
                </div>
            </div>
    </div>
    </div>
    
             <div class="howitworks">How Does It work</div>
             <div class="container">
      <div class="cstmtext">
        We know that lots of smart people can’t keep up with the technology
        learning curve, so we formed a community of tech savvy people who can
        help solve a variety of problems the moment you need them.  From getting
        your new printer to print to how to manage a group video call with the
        family to how to set up a local network for your home once — We have
        a Valet to walk you through it in 3-Easy-Steps.

        <div class="steps-container">
            <div class="step">
                <span class="step-number">1</span>
                <p><a href="#">Click here to create your account</a> (it’s also easy and you only have to do it once!)</p>
            </div>
            <div class="step">
                <span class="step-number">2</span>
                <p><a href="#">Make an appointment</a> to meet (online) with a Valet one-on-one, for a time that works best for you.</p>
            </div>
            <div class="step">
                <span class="step-number">3</span>
                <p><a href="#">Click the link to join the meeting</a> and the Valet will help you solve your tech problem. You pay a pre-specified amount for the time it will take to solve the question you have.</p>
            </div>

            <p class="note">
                At the end of the appointment, our Valets will provide you with a 1-page overview of the solution, so you can use it any time you run into the same roadblock in the future!
            </p>
        </div>
      </div>
    </div>

    <footer class="footer bg-footer">

            <div class="footer-bar bg-footer" style="padding: 9px 0 !important;">
                <div class="container">
                    <div class="row">

                        <div class="col-md-6 d-flex justify-content-md-start justify-content-center mb-0">
                                <p class="mb-0 text-muted" style="font-size:13px !important;"><script>document.write(new Date().getFullYear())</script> © Tech Valet</p>
                        </div>

                        <div class="col-md-6 d-flex justify-content-md-end justify-content-center mb-0">
                            <ul class="list-inline mb-0" style="font-size:13px;">
                                <li class="list-inline-item"><a class="text-muted" href="#">Privacy Policy</a> |</li>
                                <li class="list-inline-item"><a class="text-muted" href="#">Terms of Service</a> |</li>
                                <li class="list-inline-item"><a class="text-muted" href="../Home/Contact">Help & Support</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </footer>
        <!-- End -->

        <!-- javascript -->
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/swiper.min.js"></script>
        <script src="js/parallax.js"></script>
        <script src="js/tobii.min.js"></script>
        <script src="js/tiny-slider.js"></script>
        <script src="js/feather.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <!-- Main Js -->
        <script src="js/plugins.init.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>